/*Mobile devices*/
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .col-1
  {
    width: 100%;
  }

  .iframe
  {
    width: 100%;
  }

  .parallax
  {
    background-attachment: scroll;
  }
}

/*Larger phones/phablets*/
@media screen and (min-device-width: 481px) and (max-device-width: 736px)
{
  .parallax
  {
    background-attachment: scroll;
  }
}

@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
        margin-top: 0;
    }

    a.iframe {
        font-size: 200%;
        padding: 8px 40px;
        border-radius: 10px;
        box-shadow: 4px 4px 1px #9a2d3a;
        text-shadow: 2px 2px #9a2d3a;
    }
}

/*Regular Laptop and Desktop devices*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1)
{
  .col-1
  {
    width: 100%;
  }

  .iframe
  {
    width: 100%;
  }
}

/*Retina and higher screens*/
@media screen and (min-device-width: 1601px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
{

}
